* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header Area Styles */

header {
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 216px 150px 166px 700px;
    text-align: right;

}

.header {
    

}

.header-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    margin-bottom: 24px;

}

.header-description {
    font-size: 16px;
    color: #444343;
    margin-bottom: 32px;
}

.contact-us {
    font-weight: 600;
    font-size: 20px;
    height: 64px;
    background-color: #F15B22;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    padding: 10px 30px;
}

header button:hover{
    background-color:#e96936;
}