* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.uni-btn {
    font-weight: 600;
    font-size: 20px;
    height: 55px;
    color: #F15B22;
    background-color: #ffffff;
    border: 0;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 24px;
}

.uni-btn:hover{
    background-color: #dbdbdb;
}

/* Header Area Styles */

header {
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 216px 150px 166px 700px;
    text-align: right;

}

.header {}

.header-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    margin-bottom: 24px;

}

.header-description {
    font-size: 16px;
    color: #444343;
    margin-bottom: 32px;
}

.contact-us {
    font-weight: 600;
    font-size: 20px;
    height: 55px;
    background-color: rgb(241, 93, 34);
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    padding: 10px 30px;
}

header button:hover {
    background-color: #e97c51;
}

/* My failure of previous year area styles */

.my-failure {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 130px 206px;
    gap: 87px;
}

.my-failure img {
    max-width: 50%;
}

.my-failure-contents {
    padding-top: 190px;
}

.my-failure-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
    color: #151414;
    ;

}

.my-failure-description {
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}

.my-failure-list {
    font-size: 16px;
    color: #444343;
}

.my-failure-contents ul {
    padding: 0;
}

.my-failure-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.my-failure-contents ul li i {
    color: #16D887;
}

/* My Plans Section Styles */

.my-plans-container {
    text-align: center;
    margin: 130px 206px;
    align-items: center;

}

.my-plans-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 55px;

}

.my-plans {
    display: flex;
    justify-content: space-between;

}

.my-plans img {
    margin-bottom: 24px;
}

.my-plans h3 {
    font-weight: 700;
    font-size: 25px;
    color: #151414;
    margin-bottom: 16px;
}

.my-plans p {
    font-weight: 500;
    font-size: 20px;
    color: #737272;
}

/* Call Now Section Styles */

.call-now {
    text-align: left;
    background-image:linear-gradient(to right, rgb(241, 93, 34), rgba(241, 93, 34, 0) ), url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    border: 0;
    border-radius: 5px;
    margin: 130px 206px;
    padding: 59px 420px 59px 64px;

}

.call-now h3 {
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;

}

/* Footer Area Styles */

footer {
    background: #151414;
    padding: 130px 230px;
    display: flex;
    justify-content: space-between;
}

.future{
    padding-right: 150px;
}

.future-title {
    font-weight: 700;
    font-size: 45px;
    color: #ffffff;
    margin-bottom: 16px;
}

.future p {
    color: #ffffff;
    font-size: 16px;
}

.future-description {
    margin-bottom: 32px;
}

.future-email {
    margin-bottom: 16px;
}

.future-phone {
    margin-bottom: 32px;
}

.follow{
    display: flex;
    gap: 15px;
}

.follow a{
    text-decoration: none;
}

.form h3 {
    font-weight: 600;
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 32px;
}

.form input[type=email]{
    font-size: 18px;
    height: 50px;
    color: #f3f3f3;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 2px 25px;
}